@font-face{
	font-family: 'chalkduster';
	src : url('../Font/Chalkduster/Chalkduster.ttf') format("truetype");
}
@font-face{
	font-family: 'bebas-neue';
	src : url('../Font/Bebas_Neue/BebasNeue-Regular.ttf') format("truetype");
}
@font-face{
	font-family: 'avenir-next';
	src : url('../Font/avenir-next/New folder (10)/AvenirNextLTPro-Bold.otf');
}
@font-face{
	font-family: 'metropolis';
	src : url('../Font/Metropolis/Metropolis-Regular.otf');
	/*src : url('../Font/Metropolis/Metropolis-Thin.otf');*/
}
p{
	font-family: "metropolis";
}
h1, h2, h3, h4, h5, .h7, .txtLivraisonBefore, .nowRec, .afterRec, .txtINFO, .explain, .titleTypeChoice, .mainPage, #OU{
	font-family: "bebas-neue";
	font-weight: bold;
}
html, body, .row, .noMarg{
	margin: 0px;
	padding: 0px;
}
body {
	background-size: 100%;
  	background-image: url("../images/fondGris.jpg");
	height: 100%;
}
header{
	height: 50px;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.headerstandard a button img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: auto;
}

.mainPage{
	font-size: 45px;
	width: 400px;
	border-radius: 50px;
	filter: drop-shadow(2px 2px 10px black);
	border-style: none;
}
#bye{
	text-align: center;
}

.backgroundImageFull{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
	background-repeat: no-repeat;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}
#pizzaPresentation{
	background-image: url("../images/images/Accueil.jpg");
	padding-top: 170px;
	padding-left: 50px;
	height: 600px;
}
.livrEmport{
	text-align: right;
	margin-left: 15px;
}
button{
	border-radius: 15px;
}

#OU{
	text-align: right;
	margin-right: 175px;
	margin-top: 30px;
	color :white;
	font-weight: bold;
	font-size: 40px;
}
#aEmporter{
	margin-left: 15px;
}
.pop{
  margin: 75px auto;
  width: 100%;
  height: 2px;
  background-color: white;
  border: none; /*on supprime le style par défaut*/
}
h1{
	margin-top: 50px;
	font-size: 70px;
	color: white;
}

/*OFFRES LES PLUS POPULAIRES*/
.popularOffer{
	margin-top: 50px;
	height: 335px;
}
.popularOfferBack{
	background-color: #1D1D1D;

}
.irresistibleIMG{
	background-image: url("../images/images/Offres 1.jpg");

	background-repeat: no-repeat;
	background-position: left;
}
.extraIMG{
	background-image: url("../images/images/Offres 2.jpg");

	background-repeat: no-repeat;
	background-position: left;
}
.newIMG{
	background-image: url("../images/images/Offres 3.jpg");

	background-repeat: no-repeat;
	background-position: left;
}
h2{
	margin-top: -20px;
	font-size: 50px;
	color: white;
	text-align: center;
}
p{
	color: white;
	text-align: center;
}

/*Telechargement application*/
#DownloadApp{


	background-image: url("../images/images/App fond.jpg");
	/* Image qui ne se répète pas et qui prend une taille suffisante pour être affichée entièrement
	background-repeat: no-repeat;
	background-size: contain;
	*/
	height: 800px;
	padding-top: 130px;
	padding-bottom: 130px;
	margin-top: 50px;
}

#DownloadAppStore{
	width: 300px;
	margin-top: 125px;
	position: absolute;
	z-index: 2;
}
#DownloadGooglePlay{
	width: 300px;
	margin-top: 300px;
	position: absolute;
	z-index: 2;
}
#imgPhone{
	margin-top: -150px;
	height: 800px;
	margin-left: -300px;	
}

/*Localisation*/
 .Textcenter{
	text-align: center;
}

#FindPizza{
	background-image: url("../images/images/fond localisation.jpg");
	/* Image qui ne se répète pas et qui prend une taille suffisante pour être affichée entièrement
	background-repeat: no-repeat;
	background-size: contain;
	*/
	height: 800px;
	padding-top: 330px;
}

h4{
	font-size: 35px;
	color: white;
	text-align: center;
}
#rectBlack{
	background-color: black;
	opacity: 0.7;
}
.findPizzaLine{
  width: 100%;
  height: 40px;
  background-color: white;
  border: none; /*on supprime le style par défaut*/
  border-radius: 12px;
}
h5{
	font-size: 25px;
	color: white;
}

/*Footer*/
footer{
	background-color: black;
	height: 100px;
	text-align: center;
	margin-top: 20px;
}
a, a:hover{
	text-decoration: none;
	color: white;
}
h6{
	margin-right: 50px;
	color: white;
}
/*--------------------*/
/*Page LivraisonBefore*/
/*--------------------*/

#LivraisonBefore{
	background-image: url("../images/images/fond livraison.jpg");
	padding-top: 130px;
	padding-bottom: 130px;
}
#LivraisonAfter{
	background-image: url("../images/images/fond avant paiement.jpg");
	padding-top: 130px;
	padding-bottom: 130px;
}
#rectLivraison{
	/*background-color: black;*/
	background-color: rgba(0,0,0,.9);
	/*opacity: 0.9;*/
	min-height: 600px;
	margin: 0;
	padding: 0;
}

#livraisonTitle{
	margin-top: 20px;
	background-color:white;
	text-align: center;
	font-weight: bold;
	height: 60px;
}

.h7{
	margin-top: 15px;
	text-align: center;
	color: black;
	font-size: 30px;
}
.txtLivraisonBefore{
	/* Changer taille, format, font... du texte dans le truc de livraison */
	margin-top: 36px;
	font-size: 20px;
}
#now{
	text-align: right;
}
#nowRec{
	background-color: #3E3C3C;
	border-color: #3E3C3C;
	color: white;

	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -15px;
	font-size: 20px;
	border-radius: 0;
	font-weight: bold;
}
#after{
	text-align: left;
}
#afterRec{
	background-color: grey;
	border-color: grey;
	color: black;

	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -15px;
	font-size: 20px;
	border-radius: 0;
	font-weight: bold;
}
button:focus {outline:0;}

#previous{
	color: white;
	font-weight: bold;
	text-align: left;
	margin-top: 8px;
}
#previousRec{
	background-color: #3E3C3C;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 10px;
	font-size: 20px;
	margin-left: 30px;
}
#suivant{
	text-align: right;
}
#suivantRec{
	background-color: black;
	border-color: black;
	color: white;
	font-weight: bold;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: 30px;
	font-size: 22px;
}
.txtINFO{
	margin-left: 25px;
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: left;
	font-size: 20px;
}
#ville, #Nbrue, #rue, #userName, #telephone, #mail, #instr{
	margin-left: 25px;
	border-radius: 10px;
}
#rue{
	margin-bottom: 10px;
}
.explain{
	font-size: 13px;
	margin: 0px;
}
.Check{
	color: white;
	font-size: 11px;
}
#validateAndBuy{
	margin-top: 50px;
	background-color: white;
	color: black;
	font-weight: bold;
	margin-left: 60px;
	margin-right: 60px;
	border-radius: 10px;
	height: 30px;
	width: 250px;
}

#craie{
	text-align: center;
	padding-bottom: 15px;
	font-family: "chalkduster";
	font-size: 50px;
}
#margTopLeft{
	margin-top: 20px;
	margin-left: 100px;
}
.margePreviousNext{
	margin-left: 100px;
}

/*-----------*/
/*ChoicePizza*/
/*-----------*/
.onePizza{
	padding-left: 30px;
	margin-bottom: 60px;
}
.choicePizzaPicture{
	width: 150px;
}
.nameOfPizza{
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
}
.descriptionOfPizza{
	font-size: 10px;
	background-color: black;
	width: 200px;
	min-height: 50px;
}
.onePizza a p{
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
	margin-top: -15px;
}
.listbox{
	height: 30px;
	margin-top: 10px;
	width: 200px;
	border-radius: 20px;
}
.listboxQuant{
	border-radius: 20px;
	height: 30px;
	width: 50px;
	margin-top: 10px;
}
.pizzaPrice{
	font-size: 20px;
	margin-top: 10px;
}
.addThisPizza{
	text-align: center;
	background-color: black;
	color: white;
	border-color: black;
	width: 130px;
}



.panier{
	background-color: black;
	margin-top: 80px;
	height: 100%;
	opacity: 0.8;
}
#panierNbrPizza{
	text-align: center;
}
#panierNamePizza{
	text-align: left;
	font-weight: bold;
}
#panierPricePizza{
	font-weight: bold;
}
#panierSizePizza, #panierBasePizza, #paniersizeTexMex, #paniersizeBoisson{
	font-size: 12px;
	font-style: italic;
	text-align: left;
	margin-top: -20px;
}
#panierTotalWord, #panierTotalPrice{
	font-size: 25px;
	font-weight: bold;
}
#panierTotalPrice{
	text-align: right;
}
.next{
	width: 80%;
	background-color: white;
	text-align: center;
	margin-bottom: 5px;
	border-radius: 20px;
}
.nextCenter{
	text-align: center;
}
.lineNext{
	margin-top: 20px;
	margin-bottom: 10px;
}
.detailLivraison{
	margin-top: -20px;
	text-align: left;
	font-size: 12px;
}
.lineNext .pop{
	margin: 0px;
	margin-bottom: 20px;
}

/*NavBar*/
nav{
	margin-top: 50px;
	border-bottom: 1px solid black;
}
.navBar ol{
	list-style-type: none;

}
.navBar{
	display: inline-block;
}
.navBar a::after{
	display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
#bannierePizza{
	height: 400px;
  	background-image: url("../images/images/fond pizza.jpg");
}
.titleTypeChoice{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	margin-top: 145px;
	text-shadow: black 3px 0 6px;
}
#banniereTexMex{
	height: 400px;
  	background-image: url("../images/images/fond tex mex.jpg");
	background-position: left;
}
#banniereBoisson{
	height: 400px;
  	background-image: url("../images/images/fond boisson.jpg");
	background-position: left 70% top 15%;
}

#centr{
	margin-left: 10px;
}


/*PAIEMENT*/
#margTop, .Paiement{
	margin-top: 50px;
}
#rectPay{
	background-color: rgba(0,0,0,.9);
	min-height: 450px;
	margin: 0;
	padding: 0;
}




.imgItem{
	width: 200px;
	height: 110px;
	filter: drop-shadow(2px 2px 10px black);
	object-fit: cover;
}