header{
	height: 600px;
	width: auto;
	background: url("../images/HEADER.png");

}
#TitleCreation, #TitleAPropos{
	height:500px;
}

#TitleAPropos h1, #TitleContact h1{
	text-align: center;
	margin-bottom: 200px;
	margin-top: 200px;
}
#TitleCreation h1{
	text-align: center;
	margin-top: 200px;
}
.navMid, .navCreat1, .navCreat2{
	text-align: center;
}
.navCreat2{
	margin-bottom: 150px;
}

#TitleAPropos{
	background-color: #F54848;

}
#TitleAPropos h1, #TitleContact h1{
	color: white;
	
}
#TitleCreation{
	background-color: #F0F0F0;
}

#TitleContact{
	background-color: #2E2828;
}

nav a + a::before {
	content: " / ";
}

#InfoContact{
	margin-top: 100px;
}
#InfoCreation{
	background: url("../images/photographie.png") no-repeat;
}
#TitleCreation a, #TitleAPropos a{
	text-decoration: none;
	color: black;
}
#TitleContact a, #InfoContact a, header div nav a{
	text-decoration: none;
	color: red;
}
header div{
	margin-left: 38%;
}
header div nav a{
	font-size: 20px;
	font-weight: bold;
}
header{
	margin-left: -15px;
}